{% block choice_with_disabled_options_widget %}
{% spaceless %}
{% if expanded %}
{{ block('choice_widget_expanded') }}
{% else %}
{{ block('choice_with_disabled_options_widget_collapsed') }}
{% endif %}
{% endspaceless %}
{% endblock choice_with_disabled_options_widget %}

{% block choice_with_disabled_options_widget_collapsed %}
{% spaceless %}
<select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
    {% if empty_value is not none %}
    <option value="">{{ empty_value|trans({}, translation_domain) }}</option>
    {% endif %}
    {% if preferred_choices|length > 0 %}
    {% set options = preferred_choices %}
    {{ block('choice_with_disabled_options_widget_options') }}
    {% if choices|length > 0 and separator is not none %}
    <option disabled="disabled">{{ separator }}</option>
    {% endif %}
    {% endif %}
    {% set options = choices %}
    {{ block('choice_with_disabled_options_widget_options') }}
</select>
{% endspaceless %}
{% endblock choice_with_disabled_options_widget_collapsed %}

{% block choice_with_disabled_options_widget_options %}
{% spaceless %}
{% for index, choice in options %}
{% if _form_is_choice_group(choice) %}
<optgroup label="{{ index|trans({}, translation_domain) }}">
    {% for nested_choice in choice %}
    <option value="{{ nested_choice.value }}"{% if _form_is_choice_selected(form, nested_choice) and nested_choice.value not in disabled_choices %} selected="selected"{% endif %}{% if nested_choice.value in disabled_choices %} disabled="disabled"{% endif %}>{{ nested_choice.label|trans({}, translation_domain) }}</option>
    {% endfor %}
</optgroup>
{% else %}
<option value="{{ choice.value }}"{% if _form_is_choice_selected(form, choice) and choice.value not in disabled_choices %} selected="selected"{% endif %}{% if choice.value in disabled_choices %} disabled="disabled"{% endif %}>{{ choice.label|trans({}, translation_domain) }}</option>
{% endif %}
{% endfor %}
{% endspaceless %}
{% endblock choice_with_disabled_options_widget_options %}
