{% block choice_with_disabled_options_widget %}
{% spaceless %}
{% if expanded %}
{{ block('choice_widget_expanded') }}
{% else %}
{{ block('choice_with_disabled_options_widget_collapsed') }}
{% endif %}
{% endspaceless %}
{% endblock choice_with_disabled_options_widget %}

{% block choice_with_disabled_options_widget_collapsed %}
{% spaceless %}
<select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
    {% if empty_value is not none %}
    <option value="">{{ empty_value|trans({}, translation_domain) }}</option>
    {% endif %}
    {% if preferred_choices|length > 0 %}
    {% set options = preferred_choices %}
    {{ block('choice_with_disabled_options_widget_options') }}
    {% if choices|length > 0 and separator is not none %}
    <option disabled="disabled">{{ separator }}</option>
    {% endif %}
    {% endif %}
    {% set options = choices %}
    {{ block('choice_with_disabled_options_widget_options') }}
</select>
{% endspaceless %}
{% endblock choice_with_disabled_options_widget_collapsed %}

{% block choice_with_disabled_options_widget_options %}
{% spaceless %}
{% for group_label, choice in options %}
{% if choice is iterable %}
<optgroup label="{{ group_label|trans({}, translation_domain) }}">
    {% set options = choice %}
    {{ block('choice_widget_options') }}
</optgroup>
{% else %}
<option value="{{ choice.value }}"{% if choice is selectedchoice(value) and choice.value not in disabled_choices %} selected="selected"{% endif %}{% if choice.value in disabled_choices %} disabled="disabled"{% endif %}>{{ choice.label|trans({}, translation_domain) }}</option>
{% endif %}
{% endfor %}
{% endspaceless %}
{% endblock choice_with_disabled_options_widget_options %}

{% block jquery_minicolors_widget %}
    {% spaceless %}
        {% set type = type|default('minicolors') %}
        {{ block('form_widget_simple') }}
    {% endspaceless %}
{% endblock jquery_minicolors_widget %}
